.SignIn__Button {
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 10px;

    transform: translate(-50%, -50%);
    background-color: var(--light-charade);

    flex-direction: row;
    border: none;
    display: flex;
    position: absolute;
    cursor: pointer;
}

.SignIn__Button__Text {
    margin: 5px 5px 5px 10px;
    font-weight: 200;

    color: var(--white);

    text-decoration: none;
}